$list-group-bg: #303030;
$list-group-border-width: 0;
.list-group-item {
	border-radius: 1rem !important;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
	background-color: #303030;
	color: #f3f3f3;
}
