<p class="mt-5 display-4">
	Bans stats
</p>
<div class="card shadow bg-transparent border-0">
	<div class="card-body position-relative">
		<div class="row">
			<div class="col-10">
				<div class="list-group">
					<div
						class="list-group-item p-0 pt-2 px-2 border-bottom"
						*ngFor="let reason of reasonsNames, index as index"
					>
						<h3 class="mb-0">
							<span class="reason">{{ reason }}</span>
							<span class="badge badge-danger amount">{{ reasonsAmounts[index] }} BANS</span>
							<span class="permanent ml-1">{{ reasonsAmountsPermanent[index] }} permanent</span>
						</h3>

					</div>
				</div>
			</div>
			<div class="col-2 text-right panel">
				<div>
					Analized <strong>{{ bansAnalized }}</strong> recent bans<br>
				</div>
				<div class="mt-2">
					Analized for<br>
					{{ dateSince | date:"dd/MM/yy HH:MM" }} - {{ dateTo | date:"dd/MM/yy HH:MM" }}
				</div>
				<div class="mt-2">
					<button
						class="btn btn-danger mt-2"
						(click)="analizeNext()"
						[ngClass]="{'disabled': !canAnalizeNext}"
						[disabled]="!canAnalizeNext"
					>
						Analize next {{ step }} bans <i class="bx bx-analyse fix"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>